/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Google Outfit", sans-serif;
}

/* Header Styles */
header {
  background-color: #f2f2f2;
  padding: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Main Styles */
main {
  padding: 20px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 24px;
}

.hero-image img {
  width: 200px;
  height: auto;
}

#about {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
}

/* Footer Styles */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* Scroll Button Styles */
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 9999;
}

.scroll-button.show {
  opacity: 1;
  visibility: visible;
}

.scroll-button-icon {
  position: relative;
}

.scroll-button-icon .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}


.send-message-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}

.send-message-card form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.send-message-card input,
.send-message-card textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
}

.send-message-card button[type="submit"] {
  padding: 8px 16px;
  width: 100px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.send-message-card button[type="submit"]:hover {
  background-color: #13517e;
}

@media (max-width: 768px) {
  .send-message-card {
    padding: 10px;
  }
}


